@import 'base/variables';
@import 'layout/base';
@import 'components/buttons';
@import 'components/page-hero';

#columns-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 100px;

    &[data-columns="3"] {

        & > div {
            flex-basis: calc(100% / 3);
        }
    }
}

.grid-item {
    padding: 5px;
}
