@import 'base/variables';
@import 'layout/base';
@import 'components/buttons';

#columns-wrapper {
    display: flex;
    flex-wrap: wrap;

    &[data-columns="3"] {

        & > div {
            flex-basis: calc(100% / 3);
        }
    }
}

.grid-item {
    padding: 5px;
}
