*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: $dark-gray;
    background-color: $light-gray;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 100%;
}

a {
    color: $dark-gray;
}

h1,
h2 {
    color: $primary-color;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.5em;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 50px;
    padding: 0 30px;
}
