.logo {
    width: 7px;
    height: 30px;
    background-color: $dark-gray;
    position: relative;
    margin: 0 10px 10px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 20px;
        background-color: $dark-gray;
    }

    &::before {
        left: -10px;
    }

    &::after {
        height: 25px;
        right: -10px;
    }
}
