.hero {
    max-width: 700px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .page-title {
        position: relative;
        color: $primary-color;
        font-size: 3.2em;
        margin-top: 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100px;
            background: $dark-gray;
        }

        &::after {
            width: 80px;
            bottom: -7px;
        }

        span {
            color: $dark-gray;
            font-size: 0.5em;
        }
    }

    .page-subtitle {
        font-size: 2em;
        margin: 0 0 1.5em;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 10px 20px 10px 0;
        }
    }
}
