@import 'base/variables';
@import 'layout/base';
@import 'components/buttons';

@import 'sections/hero';
@import 'sections/grid';
@import 'sections/pros';

@mixin columnsjs {
    display: flex;
    flex-wrap: wrap;

    @for $i from 1 through 9 {
        &[data-columns="#{$i}"] {

            & > div {
                flex-basis: calc(100% / #{$i});
            }
        }
    }
}

#columns-wrapper {
    margin: 0 -5px 50px;
    @include columnsjs;
}

.grid-item {
    padding: 5px;
    font-size: 0;
}

.credits {
    font-size: 0.85em;
}
